* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: #05cba7;
}

.userCard {
  width: 100%;
  min-width: 220px;
  max-width: 400px;
  background-color: white;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

.userLocation {
  text-align: center;
}

.city {
  display: inline-block;
}

.userImageContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 10px solid rgba(250, 228, 228, 0.493);
  border-radius: 50%;
}

.userImageContainer > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.userInfoContainer > p {
  width: 270px;
  padding: 10px;
  font-size: small;
  text-align: center;
}

button {
  width: 100px;
  height: 40px;
  background-color: #63b5ff;
  border-radius: 10px;
  text-align: center;
}
.userStatContainer {
  margin-top: 30px;
  width: 100%;
  display: inline-block;
  background-color: #1f354c;
}
.userStatItem1,
.userStatItem2,
.userStatItem3 {
  width: 31%;
  height: 90px;
  text-align: center;
  display: inline-block;
}

.userStatItem1,
.userStatItem2,
.userStatItem3 > img {
  margin-right: 10px;
}

.userStatItem1,
.userStatItem2 {
  border-right-style: solid;
  border-right-color: #365b83;
  border-right-width: 2px;
}

.stat {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.stat > p {
  color: red;
}

.stat > p1 {
  color: white;
}

.userCard > * {
  display: block;
  margin-top: 20px;
}

.userFullName {
  font-weight: bold;
  font-size: 2em;
}
